<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.foxconn.dp.plm.hdfs.dao.xplm.MailGroupUserMapper">


    <select id="existInGroup" resultType="int">
        SELECT COUNT(1) FROM BA_MAIL_GROUP_USER u,BA_MAIL_GROUP_USER g WHERE u.EMP_ID = #{0} AND g.id = u.group_id AND
        g.creator in ('13911','f2138377') AND u.DELETE_FLAG = 0
    </select>

</mapper>